@keyframes ldio-4ejhb2484ps {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.ldio-4ejhb2484ps div {
    position: absolute;
    animation: ldio-4ejhb2484ps 1s linear infinite;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #93dbe9;
    transform-origin: 80px 82px;
}

.loadingio-spinner-eclipse-sukqfissh8 {
    margin-top: 30vh;
    width: 100%;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background-color: transparent;
}

.ldio-4ejhb2484ps {
    margin: 0 auto;
    width: 25%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-4ejhb2484ps div {
    box-sizing: content-box;
}