$textClr   : #262626;
$bcSub     :#1890FF;
$clrLink   : #8C8C8C;
$textError : #F5222D;

@mixin font($family, $fw, $fs, $lh, $ls, $c) {
    font-family   : $family;
    font-weight   : $fw;
    font-size     : $fs;
    line-height   : $lh;
    letter-spacing: $ls;
    color         : $c;
}


.SignIn {
    width  : 384px;
    height : 374px;
    padding: 35px 32px 20px;

    &__heading {
        @include font('Roboto', 500, 20px, 28px, 0, $textClr);
        text-align: center;

        &_margin {
            margin-bottom: 9px;
        }
    }

    &__form {
        display       : flex;
        flex-direction: column;
        @include font('Roboto', 400, 14px, 22px, 0, $textClr);

        &_margin {
            padding-bottom: 8px;
        }
    }

    &__submit {
        margin-top: 12px;
    }

    &__link {
        @include font('Roboto', 400, 12px, 20px, 0, $clrLink);
        text-align: center;

        & a {
            color: $bcSub
        }
    }
}