$bc         : #FFFFFF;
$textClr    : #262626;
$clrInput   : #D9D9D9;
$clrCheckbox: #595959;
$bcSub      :#1890FF;
$clrLink    : #8C8C8C;


@mixin font($family, $fw, $fs, $lh, $ls, $c) {
    font-family   : $family;
    font-weight   : $fw;
    font-size     : $fs;
    line-height   : $lh;
    letter-spacing: $ls;
    color         : $c;
}

.RegistrationForm {
    height : 60vh;
    width  : 40vh;
    padding: 48px 32px;

    &__form {
        display        : flex;
        flex-direction : column;
        justify-content: space-around;
    }

    &__heading {
        @include font('Roboto', 500, 20px, 28px, 0, $textClr);
        text-align: center;

        &_margin {
            margin-bottom: 9px;
        }
    }

    &__label {

        &_margin {
            margin-top: 21px;
        }

        &_checkbox {
            @include font('Roboto', 400, 14px, 22px, 0, $clrCheckbox);
            border-top: 1px solid $clrInput;

            & p {
                position: relative;
                top     : -23px;
                left    : 19px;
            }

            & input {
                margin-top: 12px;
            }
        }
    }


    &__link {
        margin-top    : 8px;
        text-align    : center;
        padding-bottom: 20px;
        @include font('Roboto', 400, 12px, 20px, 0, $clrLink);

        & a {
            color: $bcSub
        }
    }

}


.error {
    input {
        border-color: red;
    }
}