@import './normalize.scss';


@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src        : url("../src/font/Roboto-Regular.woff2");
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src        : url("../src/font/Roboto-Medium.woff2");
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    src        : url("../src/font/Inter-Regular.woff2");
}